In [1]:
# Import all that is needed
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
import seaborn as sn

***Reading the Data, setting up seaborn as default***

In [2]:
# set seaborn to default graphics
sn.set()
# To read document for the course
# training data
training_data=pd.read_csv("AI-Lab-master/train.csv")
# testing data
testing_data=pd.read_csv("AI-Lab-master/test.csv")
training_data

,surveyid,village,survey_date,femaleres,age,married,children,hhsize,edu,hh_children,...,given_mpesa,amount_given_mpesa,received_mpesa,amount_received_mpesa,net_mpesa,saved_mpesa,amount_saved_mpesa,early_survey,depressed,day_of_week
0,926,91,23-Nov-61,1,28.0,1,4,6,10,0,...,0,0.0,0,0.000000,0.000000,1,0.000000,0,0,5
1,747,57,24-Oct-61,1,23.0,1,3,5,8,0,...,0,0.0,1,4.804611,4.804611,0,0.000000,0,1,3
2,1190,115,05-Oct-61,1,22.0,1,3,5,9,0,...,0,0.0,0,8.007685,8.007685,1,0.000000,0,0,5
3,1065,97,23-Sep-61,1,27.0,1,2,4,10,2,...,0,0.0,0,0.000000,0.000000,1,1.249199,0,0,0
4,806,42,12-Sep-61,0,59.0,0,4,6,10,4,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,927,152,27-Dec-61,1,36.0,0,4,5,9,0,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,1,4
1139,1039,104,13-Sep-61,1,23.0,1,0,2,10,0,...,0,0.0,0,0.000000,0.000000,1,0.000000,0,0,4
1140,428,54,23-Nov-61,1,28.0,1,5,7,10,5,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,5
1141,23,3,05-Oct-61,1,33.0,0,4,5,9,0,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,5
1142,116,18,24-Sep-61,1,39.0,1,0,4,12,0,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,1,1

***Data Cleaning***
<p>Do similar changes to both training and testing data</p>
<p>Fill the Nan house hold members with unknown and other vital data that can not be assumed</p>
<p>Fill non vital data columns with 0</p>

In [3]:
# Changing household members to unkown which can be used as a pointer
print("hi")
values = {'hh_totalmembers': "unknown","med_u5_deaths":0,"ed_expenses":0,"ed_expenses_perkid":0,"ed_schoolattend":0,
         "ed_work_act_pc":0,"ed_sch_missedpc":0,"med_u5_deaths":0}
training_data.fillna(value=values,inplace=True)
training_data.fillna("unknown",inplace=True)
training_data

hi

,surveyid,village,survey_date,femaleres,age,married,children,hhsize,edu,hh_children,...,given_mpesa,amount_given_mpesa,received_mpesa,amount_received_mpesa,net_mpesa,saved_mpesa,amount_saved_mpesa,early_survey,depressed,day_of_week
0,926,91,23-Nov-61,1,28.0,1,4,6,10,0,...,0,0.0,0,0.000000,0.000000,1,0.000000,0,0,5
1,747,57,24-Oct-61,1,23.0,1,3,5,8,0,...,0,0.0,1,4.804611,4.804611,0,0.000000,0,1,3
2,1190,115,05-Oct-61,1,22.0,1,3,5,9,0,...,0,0.0,0,8.007685,8.007685,1,0.000000,0,0,5
3,1065,97,23-Sep-61,1,27.0,1,2,4,10,2,...,0,0.0,0,0.000000,0.000000,1,1.249199,0,0,0
4,806,42,12-Sep-61,0,59.0,0,4,6,10,4,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,927,152,27-Dec-61,1,36.0,0,4,5,9,0,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,1,4
1139,1039,104,13-Sep-61,1,23.0,1,0,2,10,0,...,0,0.0,0,0.000000,0.000000,1,0.000000,0,0,4
1140,428,54,23-Nov-61,1,28.0,1,5,7,10,5,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,5
1141,23,3,05-Oct-61,1,33.0,0,4,5,9,0,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,5
1142,116,18,24-Sep-61,1,39.0,1,0,4,12,0,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,1,1

<p>Clear out rows with missing vital data(female respondent row,)</p>

***PREDICTIVE MODEL***

<h5>LINEAR REGRESSION</h5></br><p>Had two options to use which were Linear regression and MLP. We decided to go with linear regression as the data is simple and MLP would have worked as well but it would need us to define other factors to define for level 2 layers such as Financial stability, Basic Healthcare, Family situation and e.t.c, basically mlp would work but it would be overkill.</p></br><p>MLP would have provided the most accurate and consistent model but also considering the data is not as clean and interploation, median and mean cuould not be used to fill some the fields we went with the linear regression model</p>

In [25]:
# Training the model
# Considering the sensitivity of some of the information and the lack of it would lead to 
# misinformation we will not use all the columns
# Columns used
# female res, age, married, children, edu, hhsize, cons_nondurable,durable investments, non durable investments
reg_model=LogisticRegression(solver='lbfgs', max_iter=500)
reg_model.fit(training_data[["femaleres","age","married","children","edu","hhsize",
                             "cons_nondurable","durable_investment","nondurable_investment"]],training_data.depressed)

LogisticRegression(max_iter=500)

In [32]:
# Coeffetients of the linear regression model
print(reg_model.coef_)
print("\n")
# Y-intercept
print(reg_model.intercept_)

[[-1.46632141e-01  8.06464996e-03 -2.18170028e-01  1.26976314e-01
  -9.12633931e-02 -4.95551975e-02 -4.01943280e-05  8.08448461e-05
  -1.20138210e-03]]


[-0.92087103]

***Testing set***

In [27]:
# clean training set
testing_data=testing_data.interpolate()

In [30]:
# using a loop to fill up the table


y=0
for i in testing_data["surveyid"]:
        v1=testing_data["femaleres"][y]
        v2=testing_data["age"][y]
        v3=testing_data["married"][y]
        v4=testing_data["children"][y]
        v5=testing_data["edu"][y]
        v6=testing_data["hhsize"][y]
        v7=testing_data["cons_nondurable"][y]
        v8=testing_data["durable_investment"][y]
#         print(v2)
        v9=testing_data["nondurable_investment"][y]
        y+=1
        #predicting if they are depressed
        depressed=int(reg_model.predict([[(v1),(v2),(v3),(v4),(v5),(v6),(v7),(v8),v9]]))
        
# #        rounding up or down
#         if depressed>0.5:
#             depressed=1
#         else:
#             depressed=0
#         print(depressed)
        #changing the depression status according to depression
        testing_data["depressed"]=depressed
        
testing_data

,surveyid,village,survey_date,femaleres,age,married,children,hhsize,edu,hh_children,...,given_mpesa,amount_given_mpesa,received_mpesa,amount_received_mpesa,net_mpesa,saved_mpesa,amount_saved_mpesa,early_survey,depressed,day_of_week
0,901,181,14-Nov-61,1,21.0,0,3,4,10,3,...,0,0.0,0,0.000000,0.000000,1,0.000000,0,0,3
1,498,47,18-Sep-61,1,44.0,1,6,8,6,6,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,2
2,710,8,03-Sep-61,1,23.0,1,1,3,7,1,...,0,0.0,0,0.000000,0.000000,1,0.080077,0,0,1
3,433,25,01-Nov-60,1,67.0,0,0,1,1,0,...,0,0.0,0,0.000000,0.000000,0,0.000000,1,0,3
4,44,2,18-May-60,1,40.0,1,4,6,7,4,...,0,0.0,0,0.000000,0.000000,0,0.000000,1,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,255,22,24-Sep-61,1,25.0,1,1,3,7,0,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,1
282,547,69,23-Nov-61,1,28.0,1,4,6,10,4,...,0,0.0,0,0.000000,0.000000,1,0.000000,0,0,5
283,893,184,14-Nov-61,1,66.0,0,0,1,1,0,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,3
284,363,75,28-Nov-61,1,51.0,1,1,3,12,0,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,3
285,231,12,08-Sep-61,1,33.0,0,4,5,8,4,...,0,0.0,1,8.007685,8.007685,0,0.000000,0,0,6